body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 50, 73);
}

.parallax-container {
    height: 500px;
    position: relative;
}

.parallax-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}