body {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 50, 73);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

.parallax-container {
    height: 500px;
    position: relative;
}

.parallax-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes shake {
    0% {
        transform: translate(5px, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-5px, 0);
    }

    20%,
    40%,
    60% {
        transform: translate(5px, 0);
    }

    80%,

    100% {
        transform: translate(0, 0);
    }
}

@keyframes scrollShake {
    10%, 90% {
      transform: translate(-50%, -50%) rotate(-3deg);
    }
    
    20%, 80% {
      transform: translate(-50%, -50%) rotate(3deg);
    }
  
    30%, 50%, 70% {
      transform: translate(-50%, -50%) rotate(-3deg);
    }
  
    40%, 60% {
      transform: translate(-50%, -50%) rotate(3deg);
    }
  }